<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.sire.messagepushmodule"
    android:versionCode="1"
    android:versionName="1.0">


    <!-- 支持iBeancon 需要蓝牙权限 -->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <!-- 支持个推3.0 电子围栏功能 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />


    <application>
        <!-- 配置的第三方参数属性 -->
        <meta-data
            android:name="PUSH_APPID"
            android:value="${GETUI_APP_ID}"
            tools:replace="android:value" />

        <meta-data
            android:name="PUSH_APPKEY"
            android:value="${GETUI_APP_KEY}"
            tools:replace="android:value" />
        <meta-data
            android:name="PUSH_APPSECRET"
            android:value="${GETUI_APP_SECRET}"
            tools:replace="android:value" />

        <!-- 用户自定义服务继承自GTIntentService,作为SDK与APP桥梁服务,用来接收各种消息和命令回复-->
        <service android:name=".Service.PushIntentService" ></service>
        <!-- 配置SDK核心服务 -->
        <service
            android:name=".Service.PushClientService"
            android:exported="true"
            android:label="PushService"
            android:process=":pushservice"></service>

        <activity android:name=".Controller.fragment.MessageCommentDetailController"
            android:theme="@style/ActivityTheme"
            />
        <activity android:name=".Controller.IMMessageController"
            android:theme="@style/ActivityTheme"
            android:windowSoftInputMode="stateHidden"
            />
    </application>
</manifest>